--extra-index-url https://download.pytorch.org/whl/cu126
torch>=2.10.0
torchvision>=0.20.0
transformers>=4.57.3
datasets>=4.5.0
scikit-learn>=1.8.0
tqdm>=4.67.2
accelerate>=1.12.0
numpy>=2.4.2
pytorch-crf>=0.7.2
